<%- include('partials/header') %>

    <% for (const promo of promos){  %> 
        <div>
            <span> <%= promo.name %>  </span> 
            <a href="http:/localhost:3000/promo/<%= promo.id%>">   <%= promo.id %></a>
        </div>
    <% } %>
    <img src="http://localhost:3000/logo.png" alt="logo">

    <%- include('partials/footer') %>